<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo Django Gallery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header>
    <p>Photo Django Gallery</p>
</header>
<section class="top">
    <img src="../img/gallery.jpg" alt="Photo Django Gallery" title="Photo Django Gallery">
</section>
<section class="container-fluid middle">
    <div class="row d-flex">
        <div class="photo_div">
            <div class="photo_top">
                <img src="../img/gallery.jpg" alt="Gallery Image" title="Gallery Image" class="photo">
            </div>
            <div class="photo_footer">
                <h3>Photo Header Text</h3>
                <p class="text" align="justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
                <hr/>
                <p class="more_img_btn">More Images</p>
            </div>
        </div>
        <div class="photo_div">
           <div class="photo_top">
                <img src="../img/gallery.jpg" alt="Gallery Image" title="Gallery Image" class="photo">
            </div>
            <div class="photo_footer">
                <h3>Photo Header Text</h3>
                <p class="text" align="justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
                <hr/>
                <p class="more_img_btn">More Images</p>
            </div>
        </div>
        <div class="photo_div">
            <div class="photo_top">
                <img src="../img/gallery.jpg" alt="Gallery Image" title="Gallery Image" class="photo">
            </div>
            <div class="photo_footer">
                <h3>Photo Header Text</h3>
                <p class="text" align="justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
                <hr/>
                <p class="more_img_btn">More Images</p>
            </div>
        </div>
        <div class="photo_div">
           <div class="photo_top">
                <img src="../img/gallery.jpg" alt="Gallery Image" title="Gallery Image" class="photo">
            </div>
            <div class="photo_footer">
                <h3>Photo Header Text</h3>
                <p class="text" align="justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
                <hr/>
                <p class="more_img_btn">More Images</p>
            </div>
        </div>
        <div class="photo_div">
           <div class="photo_top">
                <img src="../img/gallery.jpg" alt="Gallery Image" title="Gallery Image" class="photo">
            </div>
            <div class="photo_footer">
                <h3>Photo Header Text</h3>
                <p class="text" align="justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
                <hr/>
                <p class="more_img_btn">More Images</p>
            </div>
        </div>
        <div class="photo_div">
            <div class="photo_top">
                <img src="../img/gallery.jpg" alt="Gallery Image" title="Gallery Image" class="photo">
            </div>
            <div class="photo_footer">
                <h3>Photo Header Text</h3>
                <p class="text" align="justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
                <hr/>
                <p class="more_img_btn">More Images</p>
            </div>
        </div>
    </div>
</section>
<section class="footer">

</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="../js/main.js"></script>
</body>
</html>